__pycache__
.venv
.vscode/
checkpoints
data/images
finetuning/tuned/
lookup_data/
ReinforcementLearning/aligned/
ReinforcementLearning/intermediate/reward_model/
ReinforcementLearning/intermediate/grpo_model/
ReinforcementLearning/grpo_results/
ReinforcementLearning/rl_results_VL_reasoned/
wandb/
ReinforcementLearning/RLFF/Reward_Models/
ReinforcementLearning/intermediate/grpo_model_BT_tanhminustanh
ReinforcementLearning/intermediate/grpo_model_manualBT
ReinforcementLearning/intermediate/reward_model_rewardTrainer
ReinforcementLearning/grpo_results
ReinforcementLearning/grpo_results_VL_reasoned
ReinforcementLearning/intermediate/preference_data.csv
ReinforcementLearning/intermediate/preference_data_normalized.csv
ReinforcementLearning/intermediate/*
!ReinforcementLearning/intermediate/*.py
.env
