__pycache__
.venv
.vscode/
checkpoints
data/images
finetuning/tuned/
lookup_data/
reinforcement-learning/aligned/
reinforcement-learning/intermediate/reward_model/
reinforcement-learning/intermediate/grpo_model/
reinforcement-learning/grpo_results/
reinforcement-learning/rl_results_VL_reasoned/
wandb/
reinforcement-learning/RLFF/Reward_Models/
reinforcement-learning/intermediate/grpo_model_BT_tanhminustanh
reinforcement-learning/intermediate/grpo_model_manualBT
reinforcement-learning/intermediate/reward_model_rewardTrainer
reinforcement-learning/grpo_results
reinforcement-learning/grpo_results_VL_reasoned
reinforcement-learning/intermediate/preference_data.csv
reinforcement-learning/intermediate/preference_data_normalized.csv
reinforcement-learning/intermediate/*
.env
